<div id="footer">
  <div id="footer_inner">
    <div id="oaf">
      <p><%= AlaveteliConfiguration::site_name %> is another project from the
        <%= link_to "https://www.openaustraliafoundation.org.au", target: '_blank' do %>
          <%= image_tag "openaustralia_foundation.png", :width => "200", :id => "oaf_logo", :alt => "OpenAustralia Foundation logo" %>
        <% end %>
      </p>
      <p>Like it? Then also take a look at</p>
      <ul>
        <li><%= image_tag "oa_logo.png"%> <%= link_to "OpenAustralia.org", "https://www.openaustralia.org.au" %></li>
        <li><%= image_tag "el_logo.png"%> <%= link_to "Election Leaflets", "http://www.electionleaflets.org.au" %></li>
        <li><%= image_tag "pa_logo.png"%> <%= link_to "PlanningAlerts", "http://www.planningalerts.org.au" %></li>
        <li><%= image_tag "tvfy_logo.png"%> <%= link_to "They Vote For You", "https://theyvoteforyou.org.au/" %></li>
      </ul>
    </div>
    <div class="right">
      <div id="powered">
        <%= _('Powered by <a href="http://alaveteli.org/">Alaveteli</a>') %>
      </div>
      <div id="contact_footer">
        <ul>
          <li>
            <%= link_to _("Contact {{site_name}}", :site_name => site_name), help_contact_url %>
          </li>
          <li>
            <%= image_tag "twitter-16.png", :alt => "twitter icon", :class =>"twitter-icon" %> <a href="https://twitter.com/<%= AlaveteliConfiguration::twitter_username %>"><%= _("Follow us on twitter") %></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="after-footer">&nbsp;</div>
