<h2>Supporting Organisations</h2>
<div class="logos">
  <%= link_to "http://www.openforum.com.au/" do %>
    <%= image_tag "supporting/openforum.png", id: "openforum_logo", size: "66x45" %>
  <% end %>
  <%= link_to "http://au.okfn.org/" do %>
    <%= image_tag "supporting/okfa.png", id: "okfa_logo", size: "140x70" %>
  <% end %>
  <%= link_to "http://cpd.org.au/" do %>
    <%= image_tag "supporting/cpd.png", id: "cpd_logo", size: "110x45" %>
  <% end %>
  <%= link_to "https://www.getup.org.au/" do %>
    <%= image_tag "supporting/getup.png", id: "getup_logo", size: "86x40" %>
  <% end %>
  <%= link_to "http://www.crikey.com.au/" do %>
    <%= image_tag "supporting/crikey.png", id: "crikey_logo", size: "101x35" %>
  <% end %>
  <%= link_to "https://newmatilda.com/" do %>
    <%= image_tag "supporting/newmatilda.png", id: "newmatilda_logo", size: "199x28" %>
  <% end %>
  <%= link_to "https://www.efa.org.au/" do %>
    <%= image_tag "supporting/efa.png", id: "efa_logo", size: "147x45" %>
  <% end %>
  <%= link_to "http://transparency.org.au/" do %>
    <%= image_tag "supporting/tia.png", id: "tia_logo", size: "143x45" %>
  <% end %>
  <%= link_to "https://www.mysociety.org/" do %>
    <%= image_tag "supporting/mysociety.png", id: "mysociety_logo", size: "120x25" %>
  <% end %>
  <%= link_to "http://opennorth.ca/" do %>
    <%= image_tag "supporting/opennorth.png", id: "opennorth_logo", size: "151x50" %>
  <% end %>
  <%= link_to "https://open.org.nz" do %>
    <%= image_tag "supporting/opennz.png", id: "opennz_logo", size: "203x50" %>
  <% end %>
  <%= link_to "http://www.ausgoal.gov.au/" do %>
    <%= image_tag "supporting/ausgoal.png", id: "ausgoal_logo", size: "139x35" %>
  <% end %>
  <%= link_to "https://blueprintforfreespeech.net/" do %>
    <%= image_tag "supporting/blueprintforfreespeech.png", id: "blueprintforfreespeech_logo", size: "72x50" %>
  <% end %>
</div>
<p>
  <%= link_to "Find out more →", help_credits_path(:anchor => "supporting"), class: "button-secondary" %>
</p>
