<div class="footer" id="footer" role="contentinfo">
  <div id="footer_inner">
    <div class="footer_right" id="contact_footer">
        <ul>
          <%= render :partial => 'general/responsive_credits' %>
          <li>
            <%= link_to _("Contact {{site_name}}", :site_name => site_name), help_contact_url %>
          </li>
          <% unless AlaveteliConfiguration::twitter_username.blank? %>
            <li>
              <a href="https://twitter.com/<%= AlaveteliConfiguration::twitter_username %>" class="social-link social-link--twitter" onclick="<%= track_analytics_event(AnalyticsEvent::Category::OUTBOUND, AnalyticsEvent::Action::TWITTER_EXIT, :label => "Footer link")%>">@<%= AlaveteliConfiguration::twitter_username %></a>
            </li>
          <% end %>
        </ul>
    </div>
    <div id="oaf">
      <p><%= AlaveteliConfiguration::site_name %> is another project from the
        <%= link_to "https://www.openaustraliafoundation.org.au" do %>
          OpenAustralia Foundation
        <% end %>
      </p>
      <p>Like it? Then also take a look at</p>
      <ul>
        <li><%= image_tag "projects/oa.png"%> <%= link_to "OpenAustralia.org", "https://www.openaustralia.org.au" %></li>
        <li><%= image_tag "projects/el.png"%> <%= link_to "Election Leaflets", "http://www.electionleaflets.org.au" %></li>
        <li><%= image_tag "projects/pa.png"%> <%= link_to "PlanningAlerts", "http://www.planningalerts.org.au" %></li>
        <li><%= image_tag "projects/tvfy.png"%> <%= link_to "They Vote For You", "https://theyvoteforyou.org.au/" %></li>
      </ul>
    </div>
  </div>
</div>
