<%# TODO: Cache for 5 minutes %>
  <div id="frontpage_splash">
    <div id="frontpage_right_to_know">
      <%= render :partial => 'frontpage_intro_sentence'  %>
    </div>
    <div id="frontpage_start_request">
      <%= render :partial => "frontpage_new_request" %>
    </div>
    <div id="frontpage_search_box">
      <%= render :partial => "frontpage_search_box" %>
    </div>
    <div style="clear:both"></div>
  </div>
  <div id="frontpage_examples">
      <%= render :partial => "frontpage_bodies_list" %>
      <%= render :partial => "frontpage_requests_list" %>
  </div>
  <div id="frontpage_supporting">
    <h2>Supporting Organisations</h2>
    <div class="logos">
      <%= link_to "http://www.openforum.com.au/" do %>
        <%= image_tag "openforum_logo.png", :id => "openforum_logo", :size => "66x45" %>
      <% end %>
      <%= link_to "http://au.okfn.org/" do %>
        <%= image_tag "okfa_logo.png", :id => "okfa_logo", :size => "188x45" %>
      <% end %>
      <%= link_to "http://cpd.org.au/" do %>
        <%= image_tag "cpd_logo.png", :id => "cpd_logo", :size => "110x45" %>
      <% end %>
      <%= link_to "http://www.getup.org.au/" do %>
        <%= image_tag "getup_logo.png", :id => "getup_logo", :size => "86x40" %>
      <% end %>
      <%= link_to "http://www.crikey.com.au/" do %>
        <%= image_tag "crikey_logo.png", :id => "crikey_logo", :size => "101x35" %>
      <% end %>
      <%= link_to "http://newmatilda.com/" do %>
        <%= image_tag "newmatilda_logo.png", :id => "newmatilda_logo", :size => "199x28" %>
      <% end %>
      <%= link_to "https://www.efa.org.au/" do %>
        <%= image_tag "efa_logo.png", :id => "efa_logo", :size => "174x45" %>
      <% end %>
      <%= link_to "http://transparency.org.au/" do %>
        <%= image_tag "tia_logo.png", :id => "tia_logo", :size => "143x45" %>
      <% end %>
      <%= link_to "http://www.mysociety.org/" do %>
        <%= image_tag "mysociety_logo.png", :id => "mysociety_logo", :size => "120x25" %>
      <% end %>
      <%= link_to "http://opennorth.ca/" do %>
        <%= image_tag "opennorth_logo.png", :id => "opennorth_logo", :size => "151x50" %>
      <% end %>
      <%= link_to "http://open.org.nz" do %>
        <%= image_tag "opennz_logo.png", :id => "opennz_logo", :size => "203x50" %>
      <% end %>
      <%= link_to "http://www.ausgoal.gov.au/" do %>
        <%= image_tag "ausgoal_logo.png", :id => "ausgoal_logo", :size => "139x35" %>
      <% end %>
      <%= link_to "http://www.newdemocracy.com.au/" do %>
        <%= image_tag "newdemocracy_logo.png", :id => "newdemocracy_logo", :size => "200x19" %>
      <% end %>
      <%= link_to "https://blueprintforfreespeech.net/" do %>
        <%= image_tag "blueprintforfreespeech_logo.png", :id => "blueprintforfreespeech_logo", :size => "72x50" %>
      <% end %>
    </div>
    <p>
      <strong><%= link_to "Find out more...", help_credits_path(:anchor => "supporting") %></strong>
    </p>
  </div>
