<% @title = "About" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
 <h1>Introduction to <%= site_name %></h1>

  <ul>
    <li><a href="#purpose">What is  <%= site_name %> for?</a></li>
    <li><a href="#premise">How does the site work?</a></li>
    <li><a href="#whybother_me">Why would I bother to do this?</a></li>
    <li><a href="#whybother_them">Why would the public authority bother to reply?</a></li>
    <li><a href="#who">Who makes <%= site_name %>?</a></li>
    <li><a href="#updates">How can I keep up with news about <%= site_name %>?</a></li>
  </ul>

  <dl>

  <dt id="purpose">What is  <%= site_name %> for? <a href="#purpose">#</a> </dt>
  <dd>To help you find out inside information about what the Australian Federal and State governments
  are doing.
  </dd>

  <dt id="premise">How does the site work? <a href="#premise">#</a> </dt>
  <dd>You choose the public authority that you would like information from, then
  write a brief note describing what you want to know. We then send your request
  to the public authority. Any response is automatically published on the
  website for you and anyone else to find and read.
  </dd>

  <dt id="whybother_me">Why would I bother to do this? <a href="#whybother_me">#</a> </dt>
  <dd>You pay taxes, and then government does things with the money. All sorts of
  things that affect your life, from healthcare through to national defence. Some
  it does badly, some it does well. The more we find out about how government
  works, the better able we are to make suggestions to improve the things that
  are done badly, and to celebrate the things that are done well.
  </dd>

  <dt id="whybother_them">Why would the public authority bother to reply? <a href="#whybother_them">#</a> </dt>
  <dd>For Federal Government authorities, under the <a href="http://www.comlaw.gov.au/Current/C2013C00242">Freedom of Information Act 1982</a>,
  or FOI Act for short, all public authorities have to respond. The response will either contain the information you want, or
  give a valid legal reason why it must be kept confidential.

  <p>Each State has their own version of the FOI Act, which sets the rules around when they have to respond:</p>
<table class="tg" style="table-layout: fixed; width: 765px">
<colgroup>
<col style="width: 73px">
<col style="width: 187px">
<col style="width: 261px">
<col style="width: 125px">
</colgroup>
  <tr>
    <th class="tg-hgcj">State</th>
    <th class="tg-hgcj">FOI Law</th>
    <th class="tg-hgcj">&nbsp;Must notify of a decision in:</th>
    <th class="tg-hgcj">Application Fee:</th>
  </tr>
  <tr>
    <td class="tg-s6z2">ACT</td>
    <td class="tg-s6z2"><a href="http://www.legislation.act.gov.au/a/alt_a1989-46co/default.asp">Freedom of Information Act 1989</a></td>
    <td class="tg-s6z2">30 calendar days</td>
    <td class="tg-031e">Nil</td>
  </tr>
  <tr>
    <td class="tg-s6z2">NSW</td>
    <td class="tg-s6z2"><a href="http://www.legislation.nsw.gov.au/maintop/view/inforce/subordleg+343+2010+cd+0+N">Government Information (Public Access) Act 2009 </a></td>
    <td class="tg-s6z2">30 days</td>
    <td class="tg-031e">$30</td>
  </tr>
  <tr>
    <td class="tg-s6z2">NT</td>
    <td class="tg-s6z2"><a href="http://notes.nt.gov.au/dcm/legislat/legislat.nsf/linkreference/INFORMATION%20ACT">Information Act 2003</a></td>
    <td class="tg-s6z2">20 working days</td>
    <td class="tg-031e">$30</td>
  </tr>
  <tr>
    <td class="tg-s6z2">QLD</td>
    <td class="tg-s6z2"><a href="http://www.legislation.qld.gov.au/LEGISLTN/CURRENT/R/RightInfoA09.pdf">Right to Information Act 2009</a></td>
    <td class="tg-s6z2">25 business days</td>
    <td class="tg-031e">$40.50</td>
  </tr>
  <tr>
    <td class="tg-s6z2">SA</td>
    <td class="tg-s6z2"><a href="http://www.austlii.edu.au/au/legis/sa/consol_act/foia1991222/">Freedom of Information Act 1991</a></td>
    <td class="tg-s6z2">30 calendar days</td>
    <td class="tg-031e">$30.50</td>
  </tr>
  <tr>
    <td class="tg-s6z2">TAS</td>
    <td class="tg-s6z2"><a href="http://www.austlii.edu.au/au/legis/tas/consol_act/rtia2009234/">Right to Information Act 2009</a></td>
    <td class="tg-s6z2">20 working days</td>
    <td class="tg-031e">$34</td>
  </tr>
  <tr>
    <td class="tg-s6z2">VIC</td>
    <td class="tg-s6z2"><a href="http://www.foi.vic.gov.au/find/legislation/">Freedom of Information Act 1982</a></td>
    <td class="tg-s6z2">45 days (starts only once you give all the right information including fees)</td>
    <td class="tg-031e">$25.10</td>
  </tr>
  <tr>
    <td class="tg-s6z2">WA</td>
    <td class="tg-s6z2"><a href="http://www.austlii.edu.au/au/legis/wa/consol_act/foia1992222">Freedom of Information Act 1992</a></td>
    <td class="tg-s6z2">45 days</td>
    <td class="tg-031e">$30</td>
  </tr>
</table>

  </dd>


  <dt id="who">Who makes <%= site_name %>? <a href="#who">#</a> </dt>
  <dd><%= site_name %> is a project of the OpenAustralia Foundation, a charity, and was developed with software by the UK organisation mySociety. It was made possible by a <a href="http://www.openaustraliafoundation.org.au/2012/09/25/accelerating-to-the-future-of-online-democracy-in-australia/">donation from Guy King</a>. If you like what we're doing, then you can <a href="http://www.openaustraliafoundation.org.au/donate/">make a donation</a>.
  </dd>

  <dt id="updates">How can I keep up with news about <%= site_name %>? <a href="#updates">#</a> </dt>
  <dd>We have a <a href="/blog">blog</a> and a <a href="https://twitter.com/<%= AlaveteliConfiguration::twitter_username %>">twitter feed</a>.
  </dd>


  </dl>

  <p><strong>Next</strong>, read about <a href="/help/requesting">making requests</a> --&gt;

  <div id="hash_link_padding"></div>
</div>
