<% @title = "Unhappy about a Freedom of Information request?" %>


<% if !@info_request.nil? %>
<h1>Unhappy about the response you got
to your request '<%=request_link(@info_request) %>'?
</h1>
<% else %>
<h1>Unhappy about the response you got?</h1>
<% end %>

<p>If ...</p>

<ul>
<li>You didn't get a reply within 30 calendar days</li>
<li>You did not get all of the information that you requested <strong>or</strong></li>
<li>Your request was refused, but without a reason valid under the law</li>
</ul>

<p>... you have a few options:</p>

<ol>
<li>Ask for an <strong>internal review</strong> at the public authority.</li>
<li>Or go to an <strong>external reviewer</strong> such as an an Information Commissioner, Ombudsman, or Tribunal to review the decision or make a complaint.</li>
<li>Either way, also <strong>use other means</strong> to answer your question.</li>
</ol>

<h1 id="internal_review">1. Asking for an internal review <a class="hover_a" href="#internal_review">#</a> </h1>
<p>In an internal review the request goes back to the original authority but gets handled by a different, often more senior, officer.</p>
<p>
<% if !@info_request.nil? %>
    <%= link_to "Request an internal review", show_response_no_followup_url(:id => @info_request.id, :incoming_message_id => nil) + "?internal_review=1#followup", :class => 'link_button_green' %> and then write a message asking the authority to review your request.
<% else %>
    At the bottom of the relevant request page on <%= site_name %> choose
    "request an internal review". Then write a message asking for an internal
    review of your request. You may want to include a link to the
    request page, to make it clear which request you are talking about.
<% end %>
</p>

<p>Internal reviews are free and should be pretty quick. It should take no longer than 30 calendar days.</p>

<h1 id="complaining">2. Asking an external reviewer <a class="hover_a" href="#complaining">#</a> </h1>

<p>
  If you are still unhappy after the public authority has done their internal review,
  then contact an external reviewer to review the decision or make a complaint.
  You don't have to go through an internal review before going to an external reviewer
  but they usually recommend it.
</p>

<p>
  Who you should contact for an external review depends on what law governs the authority you
  requested information from. If you need a hand, you can always
  <%= link_to "contact us", help_contact_path %>.
</p>

<ul>
  <li>
    For <strong>Federal Authorities</strong>, speak to the
    <a href="http://www.oaic.gov.au/freedom-of-information/foi-reviews">Information Commissioner</a>.
  </li>
  <li>
    For <strong>ACT Authorities</strong>, you can complain to the
    <a href="http://ombudsman.act.gov.au/pages/making-a-complaint/complaints-the-ombudsman-can-investigate/freedom-of-information.php">Ombudsman</a>.
  </li>
</ul>

<p>
  To make it easier to send the organisation reviewing your request the relevant information, either
<% if !@info_request.nil? %>
    include a link to your request
    <strong><%=h request_url(@info_request) %></strong>
<% else %>
    include a link to your request on <%= site_name %>
<% end %>
in your complaint or print out the whole page of your request and all attachments.
</p>

<p>
  <%= site_name %> has no special facilities for handling a review at this stage.
  You can leave annotations on your request keeping people informed of progress.
</p>

<h1 id="other_means">3. Using other means to answer your question <a class="hover_a" href="#other_means">#</a> </h1>

<p>You can try persuing your problem or your research in other ways.

<ul>
<li>Make a <strong>new Freedom of Information request</strong> for summary information, or for
documentation relating indirectly to matters in your refused request.
<a href="/help/contact">Ask us for ideas</a> if you're stuck.</li>
<li>If any <strong>other public authorities</strong> or publicly owned companies are involved,
then make Freedom of Information requests to them.</li>
<li>Write to <strong>your MP</strong> or other politician and ask for their help
finding the answer. MPs can write directly to ministers or departments, and
can ask written questions in Parliament.</li>
<li>Ask <strong>other researchers</strong> who are interested in a similar
issue to yours for ideas. You can sometimes find them by browsing this site;
contact any registered user from their page. There may be an Internet
forum or group that they hang out in.</li>
</ul>
